@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    body {
        @apply bg-gray-100;
    }

    .form-label {
        @apply text-xs text-gray-900;
    }
}

html,
body {
    font-family: 'Work Sans', sans-serif;
    background: black;
    color: #8DFFF4;
}


.font-accent {
    font-family: 'Oswald', sans-serif;
}

/* to push footer to bottom */
.min-content-height {
    /* magic number manully acquired by calculating the height of footer + header including their margins */
    min-height: calc(100vh - 144px);
}

table {
    border-spacing: 0 1px;
    border-collapse: separate;
}

td,
th {
    padding: 1rem;

    border-left: none;
    border-right: none;

    background: #0072ff14;
}

th {
    font-weight: normal;
}


.react-calendar {
    width: 100%;
    border: none;
}