@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    body {
        @apply bg-gray-100;
    }

    .form-label {
        @apply text-xs text-gray-900;
    }


    th,
    td {
        @apply bg-soft-black;
    }

}

html,
body {
    font-family: 'Work Sans', sans-serif;
    background: black;
    color: #c2fff9;
}


.font-accent {
    font-family: 'Oswald', sans-serif;
}

/* to push footer to bottom */
.min-content-height {
    /* magic number manully acquired by calculating the height of footer + header including their margins */
    min-height: calc(100vh - 144px);
}

table {
    border-spacing: 0px 2px;
    border-collapse: separate;
}

td,
th {
    padding: 1.5em;

    border-left: none;
    border-right: none;
    box-sizing: content-box;
}

th {
    font-weight: normal;
}


.react-calendar {
    width: 100%;
    border: none;
}



.ui--IdentityIcon circle:first-child {
    /* fill: rgb(40, 40, 41); */
    fill: transparent;
}